S3method(hasNext,iter)
S3method(print,mcmc)
S3method(summary,mcmc)
export(betapriorGauss)
export(covmodel)
export(derivlogindepGaussianprior)
export(estimateY.exp)
export(estimateY.weibull)
export(etapriorGauss)
export(exp_ltar)
export(gensens)
export(hasNext)
export(is.burnin)
export(is.retain)
export(iteration)
export(logindepGaussianprior)
export(logindepnormalprior)
export(logposterior.exp)
export(logposterior.gamma)
export(logposterior.weibull)
export(logposterior_exponential_nospat)
export(loop.mcmc)
export(mcmcLoop)
export(mcmcPriors)
export(mcmcProgressNone)
export(mcmcProgressPrint)
export(mcmcProgressTextBar)
export(mcmcProgressTk)
export(mcmcpars)
export(nextStep)
export(omegapriorGauss)
export(proposalvariance.exp)
export(proposalvariance.weibull)
export(proposalvariance_exponential_nospat)
export(quadapprox)
export(resetLoop)
export(setTxtProgressBar2)
export(simsurv)
export(survexpon)
export(survspat)
export(transformestimates.exp)
export(transformestimates.weibull)
export(txtProgressBar2)
export(weibull_ltar)
import(flexsurv)
import(sp)
import(survival)
importFrom(Matrix,Matrix)
importFrom(RandomFields,CovarianceFct)
importFrom(fields,image.plot)
importFrom(iterators,nextElem)
