S3method(circulant,matrix)
S3method(circulant,numeric)
S3method(hasNext,iter)
S3method(predict,mcmcspatsurv)
S3method(print,mcmc)
S3method(print,mcmcspatsurv)
S3method(quantile,mcmcspatsurv)
S3method(summary,mcmc)
S3method(summary,mcmcspatsurv)
export(EvalCov)
export(ExponentialCovFct)
export(FFTgrid)
export(GammafromY)
export(QuadApprox)
export(SpikedExponentialCovFct)
export(YfromGamma)
export(basehaz.exp)
export(basehaz.weibull)
export(baselinehazard)
export(betapriorGauss)
export(checkSurvivalData)
export(circulant)
export(circulantij)
export(covmodel)
export(density_exp)
export(density_weibull)
export(densityquantile_exp)
export(densityquantile_weibull)
export(derivlogindepGaussianprior)
export(estimateY.exp)
export(estimateY.weibull)
export(etapriorGauss)
export(exp_ltar)
export(fixedpars)
export(fixmatrix)
export(frailtylag1)
export(gensens)
export(getomegatrans)
export(getparranges)
export(getsurvdata)
export(grid2spdf)
export(grid2spix)
export(grid2spts)
export(gridY)
export(hasNext)
export(hazard_exp)
export(hazard_weibull)
export(hazardpars)
export(inference.control)
export(invtransformestimates.exp)
export(invtransformestimates.weibull)
export(is.burnin)
export(is.retain)
export(iteration)
export(labelomegamatrix)
export(logindepGaussianprior)
export(logindepnormalprior)
export(logposterior.exp)
export(logposterior.exp.gridded)
export(logposterior.gamma)
export(logposterior.weibull)
export(logposterior.weibull.gridded)
export(logposterior_exponential_nospat)
export(loop.mcmc)
export(mcmcLoop)
export(mcmcPriors)
export(mcmcProgressNone)
export(mcmcProgressPrint)
export(mcmcProgressTextBar)
export(mcmcpars)
export(nextStep)
export(omegapriorGauss)
export(plotsurv)
export(posteriorcov)
export(proposalvariance.exp)
export(proposalvariance.exp.gridded)
export(proposalvariance.weibull)
export(proposalvariance.weibull.gridded)
export(proposalvariance_exponential_nospat)
export(randompars)
export(resetLoop)
export(setTxtProgressBar2)
export(simsurv)
export(spatialpars)
export(surv3d)
export(survexpon)
export(survival_exp)
export(survival_weibull)
export(survspat)
export(transformestimates.exp)
export(transformestimates.weibull)
export(txtProgressBar2)
export(weibull_ltar)
import(flexsurv)
import(sp)
import(survival)
importFrom(Matrix,Matrix)
importFrom(Matrix,nearPD)
importFrom(RandomFields,CovarianceFct)
importFrom(fields,image.plot)
importFrom(iterators,nextElem)
importFrom(stats,quantile)
